

<div class="row">

	<div class="small-6 columns">
		<div class="main vcard">
    <h3> MISSION STATEMENT </h3>
<p>Welcome to ColArt! A new artist community focused on connecting us artists. With ColArt the goal is to return to a gradual, process-driven approach to project development. Here at ColArt we aim to foster peer reciprocity, project workshopping, and network formation. Features include draft workshopping, connecting you to eager likeminded artists for opportunities to both give and receive feedback, foster collaboration, and facilitate networking. If you don’t have a draft of your work quite yet (be it a painting, a song clip, a screenplay, a sculpture, a novel, or anything else!), you can workshop a concept and discover what other artists think about your idea itself. We aim to keep our artists anonymous and protected in all aspects, allowing you yourself to decide which pieces of information to present to the community and which to hide. In an artistic sphere that is often overwhelming and fast paced, ColArt wants to help you flourish as an artist. Although we are only in the early stages of development, and most likely will make many changes based on initial feedback, we hope that you will sign up, create your profile, post a project, review some projects of others, and be patient while the platform gains more momentum! We appreciate it!</p>
</div>











	</div>
	<div class="small-6 columns">
     <h3> SUBSCRIBE </h3>

     <%= render 'subscriptions/form' %>


	</div>
</div>

